<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "Profile.jpg" %>
	</div>

	<div id="content">
		<h1>Hola! I'm Dieudonne Mukunzi</h1>
		<p>Welcome to Writie blogging Application.</p>
		<p>This is my firtst Ruby on rails application that I have made successfully, and I'm so happy to have it up and running!</p>
		<p>I will be building a demo application every week and push it to my <a href="https://github.com/MukunziTinHorizon">GitHub</a>. Cool right? If you'd like to follow along as I learn the DHH language, find me on Twitter <a href="https://twitter.com/dmukunzi0">@dmukunzi0</a>, and like some of my photos on <a href="https://www.instagram.com/mukunzi_d/">Instagram</a>.</p>
	</div>
</div>
